$cFondo: linear-gradient(to right bottom, #2c1a1d, #512129, #782732, #a02c38, #c9313b, #dc3d38, #ee4a33, #ff592c, #ff6b23, #ff7d18, #ff650c, #ff9d00);
$rojito: #ff3c38;
$amarillito: #FAFF81;
$clarito: #ebfcfb;
$oscurito: #201315;
$sombra: 0 0px 3px #2c1a1d, 0 0 3px #2c1a1d inset;
