.descuento{
    display: flex;
    justify-content: center;
    margin: 6rem;
    font-family: $fontForm;

    form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $clarito;
    width: 50vw;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: $sombra;
    }

    .botonEnviar{
    width: 10vw;
    height: 3rem;
    background-color: $amarillito;
}
}


