footer{
    background-color: $oscurito;
    font-family: $fontGeneral;
    color: $clarito;
    display: flex;
    flex-direction: column;
    box-shadow: $sombra;

    h2{
    display: flex;
    justify-content: center;
    }

    ul{
    display: flex;
    justify-content: center;
    list-style: none;

    li{
    margin: 1rem;

    a{
    color: $clarito;

    i{
    font-size: 3em;
    opacity: 0.5;
    }
    }
    }
    }
}
