.contenidoIndex{
    display: flex;
    flex-direction: column;
}

.section1 {
    @extend %contenedor1;
    background-image: url(https://res.cloudinary.com/fideos/image/upload/v1662511406/fideos/fideos1_boljbp.jpg);
    background-size: cover;
    margin-left: 0;

    h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    }

    p{
        padding: 2rem;
    }

    &:hover{
    transition: 1s;
    width: 90vw;
    }
}




.section2__position{
    display: flex;
    justify-content: end;
}

.section2 {
    @extend %contenedor1;
    background-image: url(https://res.cloudinary.com/fideos/image/upload/v1662511407/fideos/fideos2_qjrcia.jpg);
    background-size: cover;
    margin-right: 0;

    h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    }

    p{
    padding: 2rem;
    }

    &:hover{
    transition: 1s;
    width: 90vw;
}
}

.contenidoIndex__text{
    justify-content: end;
    margin: 1.5rem;
    background-color: $amarillito;
    opacity: 0.7;
    width: auto;
    height: fit-content;
}