.contenidoIndex{
    display: flex;
    flex-direction: column;
}

.section1 {
    @extend %contenedor1;
    background-image: url(https://res.cloudinary.com/fideos/image/upload/v1662943465/fideos/DALL_E_2022-09-11_21.32.07_-_fiesta_de_fideos_gente_festejando_comiendo_fideos_zohlxm.png);
    background-size: cover;
    margin-left: 0;

    h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    }

    p{
        padding: 2rem;
    }

    &:hover{
    transition: 1s;
    width: 90vw;
    }
}




.section2__position{
    display: flex;
    justify-content: end;
}

.section2 {
    @extend %contenedor1;
    background-image: url(https://res.cloudinary.com/fideos/image/upload/v1662943474/fideos/DALL_E_2022-09-11_21.23.08_-_elegant_patron_for_the_wall_of_a_pasta_restaurant_wallpaper_exhomi.png);
    background-size: cover;
    margin-right: 0;

    h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
    }

    p{
    padding: 2rem;
    }

    &:hover{
    transition: 1s;
    width: 90vw;
}
}

.contenidoIndex__text{
    justify-content: end;
    margin: 1.5rem;
    background-color: $amarillito;
    opacity: 0.7;
    width: auto;
    height: fit-content;

    &:hover{
        transition: 0.5s;
        opacity: 1;
    }
}

.indexContainer{
    outline: none;
    text-decoration: none;
    h2{
        color: $oscurito;
    }
    p{
        color: $oscurito
    }
}