main {
    font-family: 'Source Code Pro', monospace;
    color: #2c1a1d;
}

.frameTitle{
    display: flex;
    justify-content: center;

}

.title{
    font-family: 'Fredoka One', cursive;
    align-items: center;
    margin: 5rem;
    color: #FAFF81;
    text-shadow: 2px 2px #201315;
}
