main {
    font-family: $fontGeneral;
    color: $oscurito;
}

.frameTitle{
    display: flex;
    justify-content: center;

}

.title{
    font-family: $fontTitulos;
    align-items: center;
    margin: 5rem;
    color: $amarillito;
    text-shadow: 2px 2px $oscurito;
}
