.tienda{
    display: flex;
    margin: 3rem;

    .carrito__container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 500PX;
        height: 50vh;
        background-color: $rojito;
        border-radius: 3px;
        box-shadow: $sombra;

        .btn{
            color: $rojito;
        }
    }

    .tienda__container{
        display: flex;
        background-color: $oscurito;
        width: 80vw;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
        border-radius: 3px;
        box-shadow: $sombra;

        article{
            display: flex;
            flex-direction: column;
            width: 300px;
            background-color: $amarillito;
            border-radius: 3px;
        }

    }
    
    .btn {
        background-color: $oscurito;
        width: max-content;
    }
}








